{% extends 'index.html' %}

{% block title %}Reset Password{% endblock %}

{% block content %}
{% for message in messages %}
  {% if 'success' in message.tags %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      <strong>Success!</strong> {{ message }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  {% elif 'error' in message.tags %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      <strong>Error!</strong> {{ message }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  {% else %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <strong>Warning!</strong> {{ message }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  {% endif %}
{% endfor %}
    <h1>Set New Password</h1>
    <form method="post">
        {% csrf_token %}
        <label for="new_password">New Password:</label>
        <input type="password" id="new_password" name="new_password" required><br><br>
        <label for="confirm_password">Confirm New Password:</label>
        <input type="password" id="confirm_password" name="confirm_password" required><br><br>
        <input type="submit" value="Reset Password">
    </form>
{% endblock %}
